.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  cursor: grab;
  transition-duration: 0.2s;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}
div {
  width: 100px;
  height: 100px;
  transform-origin: center center;
  transition: width 0s, height 0s, transform 20s;
  cursor: none;
}
div:hover {
  cursor: none;
  transform-origin: center center;
  width: 100px;
  height: 100px;
transform: rotate(3600000000deg);
}
.table1 {
  background-color:black; 
  color: gray; 
  border: 2px solid grey; 
  transition-duration: 1s;
  width: 350px;
  height: 50px;
}
.table1:hover {
  background-color: lightseagreen; 
  color: lightblue; 
  border: 2px solid 
}